@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 180px;
    font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.link-nav a{
   text-decoration: none;
   color: black;
   
}
.link-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    transition: 1s ease;
}
.link-nav a:hover{
   color: red;
}
nav button{
    border: none;
    padding: 10px;
    color: red;
    background-color: beige;
    

}

footer{
    background-color: #314584;
    width: 100%;
    height: 300px; 
    text-align: center;
    padding: 10px 0px 0px 0px;
}

footer h4{
    color: white;
    font-weight: bold;
    padding: 0;

}
footer h3{
    color: #FF3946;
    font-size: 40px;
    margin-bottom: 30px;
}

footer a{
    text-decoration: none;
    padding-left: 30px;
    color: white;
    font-size: large;
    font-weight: bold;
}

footer p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding-left: 30px;
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}

.copie{
    text-align: center;
}

.email input {
    width: 600px;
    height: 60px;
    background-color: #F4FAFE;
    border: none;
    padding: 0px 20px;
    color: #314584;
    margin-bottom: 15px;
}
.text input {
    width: 600px;
    height: 60px;
    background-color: #F4FAFE;
    border: none;
    padding: 0px 20px;
    color: #314584;
    margin-bottom: 15px;
}

.s3{
padding-inline: 100px;
padding-bottom: 100px;

}

.subt{
    display: flex;
    gap: 30px;
}

.flx h5{

font-size: 1rem;
color: #FF3946;

}

.flx, h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 50px;
    color: #314584;
    font-weight: 600;
    letter-spacing: 1px;
}

.textarea input{
    background-color: #F4FAFE;
    border: none;
    width: 1230px;
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #314584;
    padding-bottom: 50px;

}

.button{
    padding-top: 50px;
    text-align: center;
}
.button a{
    background-color: #FF3946;
    border: 2px solid #FF3946;
    text-align: center;
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: #F4FAFE;
    font-weight: bold;
}